---
import { getEntry, render } from "astro:content";
import Comment from "@components/comment/index.astro";
import Markdown from "@components/common/Markdown.astro";
import { Icon } from "astro-icon/components";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const momentsPost = await getEntry("spec", "moments");

if (!momentsPost) {
    throw new Error("moments page content not found");
}

const { Content } = await render(momentsPost);

// 页面标题和描述
const title = i18n(I18nKey.moments);
const description = i18n(I18nKey.momentsDescription);
---

<MainGridLayout title={title} description={description}>
    <div
            class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32"
    >
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <!-- 页面标题和描述 -->
            <div class="mb-4">
                <div class="flex items-center gap-3 mb-3">
                    <div
                            class="h-8 w-8 rounded-lg bg-(--primary) flex items-center justify-center text-white dark:text-black/70"
                    >
                        <Icon name="material-symbols:android-chat-outline" class="text-[1.5rem]"/>
                    </div>
                    <h1 class="text-3xl font-bold text-neutral-900 dark:text-neutral-100">
                        {title}
                    </h1>
                </div>
                {
                    description && (
                                <p class="text-base text-neutral-600 dark:text-neutral-400 leading-relaxed mb-4">
                                    {description}
                                </p>
                    )
                }
            </div>

            <div id="moments-container" class="mt-12"></div>

            <div id="load-more-container" class="mt-10 text-center"></div>


            <Markdown class="mt-2">
                <Content/>
            </Markdown>
        </div>
    </div>

    <!-- 评论区 -->
    <!--<div class="mt-4">-->
    <!--<Comment post={momentsPost} customPath="/friends/" />-->
    <!--</div>-->

    <script>
        import {
            dayjsInit,
            getMoments,
            loadMoreMoments,
            getMomentsHTML,
            getLoadMoreBtnHTML,
        } from "@/config";

        window.addEventListener("DOMContentLoaded", async () => {
            dayjsInit();
            const momentsContainer = document.querySelector("#moments-container");
            const loadMoreContainer = document.querySelector("#load-more-container");
            const loadMoreBtn = document.querySelector("#load-more-btn");
            const { items, nextToken } = await getMoments();
            momentsContainer.innerHTML = getMomentsHTML(items);
            loadMoreBtn.innerHTML = getLoadMoreBtnHTML(nextToken);
            loadMoreBtn.addEventListener("click", async () => {
                if (nextToken === "") return;
                loadMoreBtn.disabled = true;
                loadMoreBtn.innerHTML = "加载中……";
                loadMoreBtn.classList.remove("hover:bg-(--btn-regular-bg-hover)");
                loadMoreBtn.classList.remove("active:bg-(--btn-regular-bg-active)");
                loadMoreBtn.classList.add("text-(--content-meta)");
                loadMoreBtn.classList.add("cursor-not-allowed");
                const { items: items1, nextToken: nextToken1 } = await loadMoreMoments(nextToken);
                momentsContainer.innerHTML += getMomentsHTML(items1);
                loadMoreContainer.innerHTML = getLoadMoreBtnHTML(nextToken1);
            });
        });
    </script>
</MainGridLayout>
